{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta http-equiv="X-UA-Compatible" content="ie-edge"/>
	<title>UI Project</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container" id="container">
       
        
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Welcome Back!</h1>
					<p>To keep connected with us please log in with your account</p>
					<a href=""><button class="over-btn" id="signin">Sign In</button></a>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hello, there</h1>
					<p>you are successfull logged in</p>
					<a href="{% url 'logout' %}"><button class="over-btn" id="signup">logout</button></a>
				</div>
			</div>
		</div>
	</div>
	<script src="{% static 'js/script.js' %}"></script>
</body>
</html>