{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/sellerindex.css' %}">
</head>
<body >
    <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
            <a href="{% url 'logout' %}"><button class="btn btn-danger">logout</button></a>
           
        </div>
    </div>
    <div class="container  mt-5 opacity-75 text-light">
        <div class="row">
        <h1 class="p-5 col-9">SELLER INDEX</h1>
        <a href="{% url 'additem' %}" class="col-3 p-5"><button class="btn btn-primary btn">ADD PRODUCT</button></a>
        </div>
        
            {% for product in products %}
            <div class="bg-light text-black p-5 m-3 rounded shadow-lg">
            <div class="row">
                
                 <h1>{{ product.productname }}</h1>

            </div>
            <div class="row">
                <p class="col">PRIZE :{{ product.prize }}</p>
                <div class="col"><p> OFFER : {{ product.offer }}</p></div>

            </div>
            
            <div class="row"><p class="col"> SPEED TYPE: {{ product.speed }}</p><p class="col"> COLOR :{{ product.color }}</p></div>
            
            <div class="row"><p class="col"> ABOUT :{{ product.description }}</p><p class="col"> CATEGORY :{{ product.category }}</p></div>
           <div class="row">
            <div class="col"><a href="{% url 'edit' product.pk %}"><button class="btn btn-primary">edit</button></a> </div>
            <div class="col"><a href="{% url 'delete' product.pk %}"><button class="btn btn-danger">delete</button></a></div>
           </div>
        
        </div>
            {% endfor %}
        
      
            



    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>